{% extends "layout.html" %}
{% block content %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="container">
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(http://localhost:8080/img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>ABOUT US</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8">
                    <!-- About Us Content -->
                    <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                        </div>
                        <h3>About Management:</h3>
                        <p align="justify">Our management, RAJYA Vokkaligara Sangha was founded in the year 1906 to promote social, cultural and educational aspirations of the agricultural community. Rajya Vokkaligara Sangha with a commanding presence in Bangalore, Mandya, Mysore, Hassan, Tumkur, and Kolar districts and with a fairly well spread presence in other regions of Karnataka has been conducting number of regular activities for the development and well being of the community in particular and to all sections of the society in general. The sangha has also provide hostel facilities for poor background student and students are making use of this hostel facilities during their education carrier. The Rajya Vokkaligara Sangha comprise of 35 members, headed by</p>
                        <p align="justify"><b>Presided by-Sri H.S Ashokanand IAS (Rtd) Administrator-Rajya Vokkaligara Sangha</b></p>
                        <p><b>The Sangha has been promoting the cause of education. Under its auspices, the following institutions are being run:</b></p>
                        <ul align="justify">
                        <li>Bangalore Institute of Technology (Offering courses in Civil, Mechanical, Electrical, Electronics, Instrumentation, Computer Science, Architecture, Telecommunication, Information Science, Industrial Engineering, MCA, MBA etc.)</li>
                        <li>Kempegowda Institute of Medical Sciences. (KIMS)</li>
                        <li>Visveswarapuram College of Science</li>
                        <li>Visveswarapuram College of Arts and Commerce</li>
                        <li>Visveswarapuram College of Law</li>
                        <li>Visveswarapuram Evening College of Arts, Commerce and Law.</li>
                        <li>V.V Puram Institute of Pharmaceutical Sciences.</li>
                        <li>Rural Middle School and High School at Sreegandhadakaval.</li>
                        <li>Vokkaligara Sangha Dental College.</li>
                        <li>Kempegowda Institute of Nursing.</li>
                        <li>Kempegowda Institute of Physiotherapy.</li>
                        </ul>

    {% endblock %}