{% extends "layout.html" %}
{% block title %}DEPARTMENT OF INFORMATION SCIENCE & ENGINEERING{% endblock %}
{% block content %}
<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>DEPARTMENT OF INFORMATION SCIENCE &amp; ENGINEERING</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->



<!-- ##### About Us Area Start ##### -->
<section class="about-us-area" style="padding-top: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <!-- About Us Content -->
                <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>About</h5>
                    </div>
                    <p >Realizing well in time that the Information Technology (IT) wave has become a phenomenon in itself over the past few years, the institute established a separate department to cater the ever growing demand for professionals in this challenging field. The department of Information Science and Engineering (ISE) came into existence in the year 2000. The department is affiliated to Visvesvaraya Technological University (VTU) Belgaum, Karnataka. <br><br>

                        Top ranking students from CET and COMEDK will choose this department. Presently the department is headed by Dr. J. Prakash and supported by highly qualified and dedicated staff. The department has excellent hardware and software resources. The department also has the state of the art laboratories with advance configured computers and internet facility. The department offers post graduate program (M.Tech) in Computer Network Engineering (CNE). The department has a research centre recognized by VTU in which many research scholars are pursuing their Doctoral Studies (Ph.D). All eligible students are placed in high profile companies with good packages. There are sixteen faculties in the department. Dr. J.Prakash and Dr. Hema Jagadish have acquired their Ph.D in the field of Digital Image Processing, Dr. R. Nagaraja, in the field of Adhoc Networks and nine other faculties are pursuing Ph.D in different fields.<br><br>
                        
                        The department aims at cultivating the thirst for knowledge and the vision to look beyond the evident capability in students. The students are well versed with exhaustive and thoroughly chosen VTU curriculum and are guided by experienced faculties.<br><br>
                        
                       The faculties of the department have published their research papers in International and National Journals and Conferences. Various conferences, workshops and seminars are organized in the department to enrich the technical knowledge of the staff and students. The students of Information Science and Engineering are consistently securing University ranks and excel in their academics.<br><br>
                        
                        The Department is currently headed by Dr. J. PRAKASH</p><br><br>
                        
                                <div class="d-flex justify-content-center"><div class="card" style="width: 18rem;">
                                    <img src="/faculty/IS01.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. J. PRAKASH</h5>
                                        <p class="card-text">Prof. & Head of the Dept
                                            </p>
                                        </div>
                                    </div></div>
                               
                            
                            <!-- Team Member Area -->
                            <div class="section-heading mt-30">
                               <h5> Vision and Mission </h5>
                            </div>
                                    <h3>Vision</h3>
    <p >Empower every student to be innovative, creative and productive in the field of Information Technology by imparting quality technical education, developing skills and inculcating human values. </p>
    <h3>Mission</h3>
    <p>  • To evolve continually as a centre of excellence in offering quality Information Technology Education.<br>
       • To nurture the students to meet the global competency in industry for Employment.<br>
       • To promote collaboration with industry and academia for constructive interaction to empower Entrepreneurship.<br>
       • To provide reliable, contemporary and integrated technology to support and facilitate Teaching, Learning, Research and Service.</p>
    <h3>Program Educational Objectives (PEO’s)</h3>
    <p > 1. Uplift the students through Information Technology Education.<br>
     2. Provide exposure to emerging technologies and train them to Employable in multi-disciplinary industries.<br>
     3. Motivate them to become good professional Engineers and Entrepreneur.<br>
     4. Inspire them to prepare for Higher Learning and Research </p>
    <h3>Program Specific Outcomes</h3>
    <p> 1. To provide our graduates with Core Competence in Information Processing and Management.<br>
     2. To provide our graduates with higher learning in Computing Skills</p>				
     <!-- Faculty-->   
     <div class="section-heading mt-30">
      <h5>Faculty</h5>
  </div>
  {% for fac in facs %}
  <!-- Single Team Member -->
  <a href="#" >
  <div class="single-team-member d-flex align-items-center">
      <div class="team-member-thumbnail">
          <img src="/faculty/{{fac[0]}}.jpg" alt="">
          
      </div>
      <div class="team-member-content">
          <h6>{{fac[1]}}</h6>
          <span>{{fac[2]}}</span>
          Qualification:-{{fac[3]}}<br>
             Email:- <a href="mailto:{{fac[4]}}" style="color: blue;">{{fac[4]}}</a>
          
      </div>
  </div>
  </a>
  {% endfor %}		
                            </div>
                            
                    
                            
                        </div>
                        
                        
                        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                            <div class="sidebar-area bg-white mb-30 box-shadow">
                                
                                <div class="section-heading">
                                    <h5>Other Links</h5>
                                </div>
                                <div class="single-sidebar-widget p-30" style="position: relative;top: -50px;">
                                
                                <div class="social-followers-info">
                                    <button id="achBtn" class="btn" ><span>Achievements </span></button>
                                    <button class="btn" id="iBtn"><span>Infrastructure </span></button>
                                    <button class="btn" id="rBtn"><span>Research </span></button>
                                    <button class="btn" id="pBtn" ><span>Post Graduate </span></button>
                                    <br>
                                </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ##### About Us Area End ##### -->
            
            <div id="aModal" class="amodal">

                <!-- Modal content -->
                <div class="amodal-content">
                  <span class="aclose">&times;<br></span>
                  {% include "ise_ach.html" %}

                </div>


            </div>

            <div id="iModal" class="imodal">

                <!-- Modal content -->
                <div class="imodal-content">
                  <span class="iclose">&times;<br></span>
                  {% include "ise_infra.html" %}

                </div>


            </div>

            <div id="rModal" class="rmodal">

                <!-- Modal content -->
                <div class="rmodal-content">
                  <span class="rclose">&times;<br></span>
                  {% include "ise_research.html" %}

                </div>


            </div>

            <div id="pModal" class="pmodal">

                <!-- Modal content -->
                <div class="pmodal-content">
                  <span class="pclose">&times;<br></span>
                  {% include "ise_post.html" %}

                </div>


            </div>

            <script>


//Acievement
  // Get the modal
var amodal = document.getElementById("aModal");

// Get the button that opens the modal
var abtn = document.getElementById("achBtn");

// Get the <span> element that closes the modal
var aspan = document.getElementsByClassName("aclose")[0];

// When the user clicks on the button, open the modal 
abtn.onclick = function() {
  console.log("Click");
  amodal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
aspan.onclick = function() {
  amodal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == amodal) {
    amodal.style.display = "none";
  }
}

//Infrastructure
  // Get the modal
  var imodal = document.getElementById("iModal");

// Get the button that opens the modal
var ibtn = document.getElementById("iBtn");

// Get the <span> element that closes the modal
var ispan = document.getElementsByClassName("iclose")[0];

// When the user clicks on the button, open the modal 
ibtn.onclick = function() {
  console.log("Click");
  imodal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
ispan.onclick = function() {
  imodal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == imodal) {
    imodal.style.display = "none";
  }
}

//Research
  // Get the modal
  var rmodal = document.getElementById("rModal");

// Get the button that opens the modal
var rbtn = document.getElementById("rBtn");

// Get the <span> element that closes the modal
var rspan = document.getElementsByClassName("rclose")[0];

// When the user clicks on the button, open the modal 
rbtn.onclick = function() {
  console.log("Click");
  rmodal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
rspan.onclick = function() {
  rmodal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == rmodal) {
    rmodal.style.display = "none";
  }
}

//Post
  // Get the modal
  var pmodal = document.getElementById("pModal");

// Get the button that opens the modal
var pbtn = document.getElementById("pBtn");

// Get the <span> element that closes the modal
var pspan = document.getElementsByClassName("pclose")[0];

// When the user clicks on the button, open the modal 
pbtn.onclick = function() {
  console.log("Click");
  pmodal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
pspan.onclick = function() {
  pmodal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == pmodal) {
    pmodal.style.display = "none";
  }
}
            </script>
            {% endblock %}